<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wesley Gomes</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="header">
        <div class="links__item nome"><a href="../index.html">Wesley Gomes</a></div>
        <nav class="header__links">
            <div class="links__item projeto">
                <a href="../index.html#projetos">Projetos</a>
            </div>
            <div class="links__item contato">
                <a href="#">Contato</a>
            </div>
        </nav>
    </header>
    <main>
        
    </main>
</body>
</html>